<div class="main">
  <!-- Menu de Navegação de Categorias -->
  <nav class="category-nav">
    @for (category of categories; track category) {
      <button class="nav-link" (click)="showCategory(category)" >{{ category }}</button>
    }
  </nav>

  @for (category of categories; track category) {
    <div class="category_item" [id]="getSafeId(category)" [class.visible]="selectedCategory === category">
      <h2 class="category_title">{{ category }}</h2>

      <div class="cards_category_list">
        @for (card of groupedCards[category]; track card.title) {
          <button class="action-button" (click)="openModal(card)">
            {{ card.title }}
          </button>
        }
      </div>
    </div>
  }

  <!-- Modal Structure -->
  @for (card of selectedCards; track card; let i = $index) {
    <div class="modal-overlay" [style.z-index]="1000 + i" (click)="i === selectedCards.length - 1 && onOverlayClick($event)">
      <div class="modal-content" [style.transform]="'translate(-50%, -50%)'">
        <button class="modal-close" (click)="closeModal()">&times;</button>
        <h2 class="modal_title">{{ card.title }}</h2>
        <div class="modal_body">
          <div class="card_text" (click)="handleKeywordClick($event)">
            <p [innerHTML]="card.description | keywordLink"></p>

          </div>
        </div>
      </div>
    </div>
  }
</div>