
h1, h2 { border-bottom: 2px solid #ccc; padding-bottom: 5px; }
        section { background-color: #4d4d4d; border: 1px solid #ddd; padding: 15px; margin-bottom: 20px; border-radius: 8px; }
        .form-group { margin-bottom: 10px; }
        label { display: block; font-weight: bold; margin-bottom: 5px; }
        input[type="text"], input[type="number"], textarea { width: 100%; padding: 8px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px; }
        textarea { min-height: 80px; }
        .grid-container { display: grid; grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); gap: 10px; }
        .section-header { display: flex; justify-content: space-between; align-items: center; }
        table { width: 100%; border-collapse: collapse; margin-top: 10px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f4f4f4; }
        .hex-input { display: flex; align-items: center; gap: 5px; }
        .hex-input input[type="checkbox"] { width: 20px; height: 20px; }

.polygon-svg {
  width: 10vh;
  height: 10vh;
}

.polygon-svg .hex-border {
  fill: none; 
  stroke: #c22026;
  stroke-width: 10px; 
}

/* Estilizando o texto */
.polygon-svg .hex-text {
  font-family: Arial, sans-serif;
  font-size: 30px; /* Controle o tamanho */
  font-weight: bold;
  fill: #f0f0f0; /* Cor do preenchimento do texto */

  /* Centralização perfeita */
  text-anchor: middle;
  dominant-baseline: middle;
}

/* Estilo para o input dentro do hexágono */
.hex-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--color-text-light);
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    outline: none; /* Remove a borda ao focar */
}
